{% extends "Base.html" %}
{% block title %} Gyanshriji M.S. ka Pariwar Page {% endblock %}

{% block heading %} Gyanshriji M.S. ka Pariwar {% endblock%}

{% block contain %}
	<section id="content">
		<div class="container content">
            {% for i in range(0,len) %}
                <div class="col-sm-4 info-blocks">
                    <div class="info-blocks-in" style="padding: 15px;">
                            <a class="Book" Style="color: antiquewhite;" href="static\panditji ms\7. Gyanshriji M.S. ka Pariwar\{{GMS[i]}}.pdf">
                                <button value="Book" class="btn" style="width:100%">
                                {{GMS[i]}}</button></a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </section>
 {% endblock %}



